@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors

$primary: #81899b;
$accent: #302e24;
$bgdiv: #f6f9fb;
$warn: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS
  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --bgdiv: #{$bgdiv};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}

.Overview-Page {

}

.Container-Overview {
  // border: solid red 1px;
  background-image: url("https://res.cloudinary.com/dwfd6pzm5/image/upload/v1687415463/bulan1_adb78cf972.jpg");

  background-size: auto cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  overflow: hidden;
  /* background-color: ; */
  position: relative;
}

.Container-Overview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
  background-color: rgba(
    26,
    22,
    28,
    0.797
  ); 
} 

.custom-shape-divider-bottom-1682472927 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1682472927 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 158px;
}

.custom-shape-divider-bottom-1682472927 .shape-fill {
    fill: #FFFFFF;
}


.Row-Header-Overview{
    height: 100vh;
   
}

.Col-Header-Overview{
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 10px 10px 20px 10px;
    height: 400px;
    // padding: 10px 12px 55px 12px;
    position: relative;
}

.btn-plany-icon{
    width: 80px;
    aspect-ratio: 1;
    z-index: 1;
    // border: solid red 2px;
}

.Btn-play{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}


.Title-Overview{

  z-index: 1;
  font-family: var(--content-font);
  
  .Overview-h1{
    color: #2ee778;
    font-size: 3.5rem;
    
  }
  
  .Overview-h2{
    color: #f6f9fb;
    z-index: 1;
    font-size: 2.5rem;
  }
  
  .Overview-span{
    color: #FFFFFF !important;
  }
}

.div-Overview-Geography{
  margin:65px 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  .Geography-Description{
    padding: 25px 28px;

    & h1 {
      color:#2ee778;
      margin-bottom: 10px;
      padding: 8px;
      font-family: var(--header-font);
      font-weight: bold;
    }
    & p {
      margin: 5px 10px;
      padding: 8px;
      font-family: var(--content-font);
      word-spacing: .2rem;
      line-height: 1.9rem;
    }
  }

  .Overview-Card{
  
    width: 30rem;
    margin: 25px 10px;

    .Overview-Card-Image{
      padding: 8px;
      height: 435px;
      border-radius: 15px;
      // width: 150px;
    }
  }
}


.div-Overview-Education{
  background: #f9f9f9;
  
  .Overview-Education-content{
    
    margin: 15px 20px;
    padding: 18px;

    & h1{
      color: #2ee778;
      margin:10px 0 35px 0;
      font-family: var(--header-font);
      font-weight: bold;
    }
  
    & h3{
      font-family: var(--header-font); 
    }
  
    & p{
      font-family: var(--content-font);
      word-spacing: .2rem;
      line-height: 1.9rem;

      & span {

      font-family: var(--header-font);

      }
    }
    

    & ol, li{
      // color: #2ee778;
      // padding: 15px 0;
      font-family: var(--content-font);
      word-spacing: .2rem;
      margin-bottom: 5px;
      
    }

  }
 
}

// pulsate animation

.pulsate-animation{
  position:absolute;
  // border: red solid 2px;
  height: 18.75rem;
  .animate {
    opacity: 0;
    animation-name: pulsate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite
  }
  @keyframes pulsate {
    0% { opacity: 0.0; }
    50% { opacity: 1.0; }
    100% { opacity: 0.0; }
    0% { opacity: 0.0; }
    50% { opacity: 1.0; }
    100% { opacity: 0.0; }
  }
  .animate[r="5%"] { animation-delay: 0.1s; }
  .animate[r="10%"] { animation-delay: 0.2s; }
  .animate[r="15%"] { animation-delay: 0.3s; }
  .animate[r="20%"] { animation-delay: 0.4s; }
  .animate[r="25%"] { animation-delay: 0.5s; }
  .animate[r="30%"] { animation-delay: 0.6s; }
  .animate[r="35%"] { animation-delay: 0.7s; }
  .animate[r="40%"] { animation-delay: 0.8s; }
  .animate[r="45%"] { animation-delay: 0.9s; }
  .animate[r="50%"] { animation-delay: 1.0s; }
}

// MEDIA QUERIES
@media only screen and (min-width: 480px) {

  .Col-Header-Overview{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 25px 20px 25px;
    height: 400px;
    position: relative;
}

.btn-plany-icon{
    width: 80px;
    aspect-ratio: 1;
    z-index: 1;
    // border: solid red 2px;
}


.Title-Overview{

  z-index: 1;
  font-family: var(--content-font);
  
  .Overview-h1{
    color: #2ee778;
    
  }
  
  .span-bar{
    margin: 10px 0;
    height: 2px;
    width:8rem;
    background-color: #2ee778;
    z-index: 1;
  }

  .span-bar::after{
    margin: 10px 110px;
    display: block;
    content: '';
    height: 2px;
    width:1.5rem;
    background-color: #d5e72e;
    z-index: 1;
  }

  .Overview-h2{
    color: #f6f9fb;
    z-index: 1;
  }
  
  .Overview-span{
    color: #FFFFFF !important;
  }
}
  
}


// iframe for video
.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-div-container{
  display: flex;
  border: solid 5px blue;
  align-items: center;
  background-color: rebeccapurple;
  padding:10px;
}

.video-wrapper {
  border: solid 5px brown;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-iframe {
  border: solid 5px yellow;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}


.div-Overview-Education{}