@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors

$primary: #81899b;
$accent: #302e24;
$bgdiv: #f6f9fb;
$warn: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS
  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --bgdiv: #{$bgdiv};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}

.SingleArticleView {
  .ArticleDisplay {
    margin: 24px 36px;
    padding: 16px 48px;
    border-radius: 8px;
    box-shadow: 2px 2px 16px #4b4b4b;

    & h1{
      margin: 24px 0;
      font-family: var(--header-font);
      font-size: 2.5rem;
    }
    .HeaderImageContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 32px 0;

      img {
        border-radius: 8px;
        width: 1024px;
        height: 600px;
      }
    }

    .PublishedDate {
      display: flex;
      align-items: center;
 

      h4 {
        margin: 0 0 0 8px;
      }
    }

    .ArticleContents {
      margin: 16px 0;
      font-family: (var(--content-font));
      font-family: 1.8rem;

    }
  }
}
