
@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors

$primary-main-nav: #05d194;
$primary-main-nav-drk: #04b882;
$accent-main-nav: #53f461;
$warn-main-nav: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;
$gradient-colors: #05d194, #53f461;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS
  --primary: #{$primary-main-nav};
  --primary-drk: #{$primary-main-nav-drk};
  --accent: #{$accent-main-nav};
  --warn: #{$warn-main-nav};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}

.GSO-Container {
  box-shadow: 8px 8px 24px 8px #b9ceca;
  // border: 3px solid yellow;
  padding: 18px;
  margin: 28px 60px;
  border-radius: 8px;
  .OfficeHeader {
    display: flex;
    // align-items: center;
    // border: 3px solid green;
    padding: 32px;
    justify-content: center;
    & .OfficeHeadImg {
      border: 1px solid #383838;
      background: #383838;
      // padding: 8px 16px;
      border-radius: 8px;
      //   border: 3px solid purple;
      border-radius: 5px;
      width: 100%;
      // height: 1.8;
      //   aspect-ratio: 20.11;
    }
  }
  .Contents {
    margin: 28px 60px;
    padding: 14px;
    // border: 3px solid red;
    h1 {
      font-family: var(--header-font);
      margin-top: 18px;
      font-size: 2rem;
      text-align: center;
    }
    h3 {
      font-family: var(--header-font);
      font-size: 2rem;
    }
    h5 {
      font-family: var(--header-font);
      font-weight: 700;
      text-align: center;
    }
    p {
      font-family: var(--content-font);
      text-indent: 2rem;
      letter-spacing: .01em;
    }
  }
}

@media only screen and (max-width:900px){
    
    .GSO-Container {
        box-shadow: 4px 4px 16px hsl(157, 17%, 70%);
        // border: 3px solid yellow;
        padding: 16px;
        margin: 24px 48px;
        border-radius: 8px;
        .OfficeHeader {
          display: flex;
          // align-items: center;
          justify-content: center;
          // border: 3px solid green;
          & .OfficeHeadImg {
            padding: 8px 16px;
            // border: 3px solid green;
            border-radius: 8px;
            //   border: 3px solid purple;
            width: 100%;
            height: 2.5;
            //   aspect-ratio: 20.11;
          }
        }
        .Contents {
          margin: 24px 18px;
          padding: 14px;
          // border: 3px solid red;
          h1 {
            margin-top: 18px;
            font-size: 2rem;
            text-align: center;
          }
          h3 {
            font-size: 2rem;
          }
          h5 {
            font-size: .9rem;
            text-align: center;
          }
          p {
            text-indent: 2rem;
          }
        }
      }
}
