@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors

$primary: #81899b;
$accent: #302e24;
$bgdiv: #f6f9fb;
$warn: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS
  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --bgdiv: #{$bgdiv};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}

.div--MunicipalOverview--container {
  background-color: var(--bgdiv);

  .col--MoCards {
    padding: 1.75em;
    gap: 0.01em;
    background: #0fbe35c8;
    display: flex;
    align-items: center;
    justify-content: center;

    .div--MoCardBG {
      filter: blur(0.05em);
      background: #0fbe35c8;
      width: 100%;
      height: 275px;

    }

    .div--Card--container {
      color: #fefefe;

      .Card__Mo {
        padding: 0.75em;
        margin: 15px;
        word-wrap: break-word;
        height: 250px;
        background: transparent;
        width: 260px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: 15px 10px 15px rgba(0, 0, 0, .5);
        backdrop-filter: blur(4px);
        z-index: 999;

        .Card__ImgMO {
          height: 100px;
          margin: auto;
          width: 100px;
          object-fit: cover;
        }

        .card-body {
          padding: 10px;
          margin: 5px;

          .card--MOtitle {
            color: #fefefe;
            text-align: center;
            font-family: var(--header-font);
            font-size: 1.6em;
            font-weight: bold;
            padding: 4px;
            margin: 0;
          }

          .card--MOtext {
 
            text-align: center;
            font-family: var(--content-font);
            font-size: 1.4em;
            font-weight: bold;
            padding: 5px;
            line-height: normal;
            
          }
        }
      }
    }
  }
  // DESCRIPTION

  .div--MoDescription--container {
    background-color: #5d5d5e18 !important ;
    padding: 25px 65px ;

    & .h1__MoTitle {
      font-size: clamp(1rem, 10vw + 1rem, 3rem);
      font-family: "Poppins", sans-serif;
      text-shadow: 3px 1px 3px  #474242;
    }

    .p_MoDescription {
      margin: 16px 0;
      font-family: var(--content-font);
    }
  }


  // Tourism
  .div--Tourism{
    background-image: url('../../Img/Bulan-Tourism/CoastalWaterblr.jpg');
    background-size: cover;
    opacity: .9;
    border: 1px solid brown;
    height: 500px;
    width: 100%;
    margin: 15px 0;
  }

  .header_tourism{
    color: #f5f5f5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 139, 0.6);
    
    
    & h1{
      font-size: 3em;
      text-align: center;
      padding: 10px;
      width: min(80%, 600px);
      margin: 10px;
      
      
    }

    & p{
      font-size: 1.5em;
      width: min(85%, 500px);
      padding: 5px 15px;
      text-align: center;
      font-family: var(--content-font);
    }

    & button {
      color: #f5f5f5;
      border: none;
      font-size: 1.2em;
      font-weight: 400;
      font-family: var(--content-font);
      background: #0fbe35c8;
      padding: max(1vh, .5rem) 1.5rem max(1vh, .5rem)1.5rem;
      margin: 18px;
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 479px){
 
    .div--Tourism{
      background-image: url('../../Img/Bulan-Tourism/CoastalWaterblr.jpg');
      background-size: cover;
      opacity: .9;
      border: 1px solid brown;
      height: max(45%, 300px);
      width: 100%;
    }

    .header_tourism{
      color: #f5f5f5;
      
      height: 81vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(0, 0, 139, 0.6);
      
      & h1{
        font-size: 2.5em;
        text-align: center;
        padding: 10px;
        margin: 10px;
        
        
      }
  
      & p{
        font-size: 1.5em;
        padding: 5px 15px;
        width: min(85%, 500px);
        text-align: center;
        font-family: var(--content-font);
      }
  
      & button {
        color: #f5f5f5;
        border: none;
        font-size: 1.2em;
        font-weight: 400;
        font-family: var(--content-font);
        background: #0fbe35c8;
        padding: 4px 16px;
        border-radius: 5px;
      }
    }
  }

}
