@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors

$primary: #81899b;
$accent: #302e24;
$bgdiv: #f6f9fb;
$warn: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS
  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --bgdiv: #{$bgdiv};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}

.Articles-Container {
  margin: 18px px;
  padding: 24px;

  & h1 {
    font-family: var(--header-font);
    font-weight: 700;
  }

  .div-Input-query {
    border-bottom: 2px solid #cccccca1;
    margin: 16px;

    & .ArticleSearchBar {
      width: 400px;
      margin: 18px 0;
    }
  }

  .ArticleDisplay {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #989ca0;
    box-shadow: 1px 1px 4px 2px #90a698;

    .ResultCards {
      display: flex;
      align-items: center;
      margin: 20px 8px;
      padding: 8px;
      height: 240px;

      .ThumbnailContainer {
        transform: scale(1);
        transition: transform all ease 0.2s - 0.5s;

        & figure {
          overflow: hidden;
          margin: 0;
          & .ArticleThumbnail {
            height: 215px;
            width: 315px;
          }
        }
      }
      .ArticleCategory {
      }
      .ResultCardsInfo {
        padding: 16px 8px;
        & h3 {
          font-family: var(--header-font);
          font-weight: 600;
          font-size: 20px;
          color: #4b4b4b;
          margin: 8px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .articles-card-info {
          display: flex;
          align-items: center;
          margin: 8px;
          & .DatePublish {
            margin: 0 8px;
            color: #4b4b4b;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
          }
        }

        & .ResultCardDesc {
          color: #4b4b4b;

          font-family: Arial, Helvetica, sans-serif;
          font-size: 14px;
          line-height: 1.58;

          margin: 8px 0;
          padding: 4px 8px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        & a {
          font-size: 1.3rem;
          font-weight: 600;
          text-decoration: none;
          color: rgb(0, 128, 0);
          padding: 4px 8px;

          .arrow-right {
            margin-left: 8px;
          }
        }

        & a:link {
          text-decoration: none;
          color: rgb(0, 128, 0);
        }

        & a:visited {
          text-decoration: none;
        }

        & a:active {
          text-decoration: underline;
        }
        & a:hover {
          text-decoration: underline;
          color: #2ee778;
        }
      }
    }

    .ResultCards:hover {
      & img {
        transform: scale(1.3);
      }
      cursor: pointer;
    }
  }

  .CategoryDisplay {
    border-radius: 8px;
    margin: 0 16px;
    border: solid 1px #86eaae;
    padding: 16px;
    // box-shadow: 2px 2px 24px -8px #2ee778;
    box-shadow: 0px 0px 8px -2px #2ee778;

    h1 {
      font-family: var(--header-font);
      font-weight: 700;
      margin: 0 0 16px 0;
    }

    ul {
      list-style-type: none;
      margin: 8px 16px;
      padding: 0 20px;
      // border: hotpink solid;
      li {
        font-family: var(--content-font);
        font-size: 1.25rem;
        font-weight: 800;
        // border: solid hotpink;
        margin: 8px 0 14px 0;

        & a {
          text-decoration: none;
          color: rgb(0, 128, 0);
        }

        & a:link {
          text-decoration: none;
          color: rgb(0, 128, 0);
        }

        & a:visited {
          text-decoration: none;
        }

        & a:active {
          text-decoration: underline;
        }
        & a:hover {
          text-decoration: underline;
          color: #2ee778;
        }
      }

      .Category-Icon {
        margin: 0 8px 0 0;
        // border: solid red;
        width: 24px;
        aspect-ratio: 1;
      }
    }
  }
}

@media only screen and (max-width: 501px) {
  .Articles-Container {
    .ArticleDisplay {
      padding: 16px;
      border-radius: 4px;
      border: 1px solid #989ca0;

      .ResultCards {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px 8px;
        padding: 8px;
        height: 240px;

        height: 450px;

        & img {
          width: 100%;
          aspect-ratio: 1;
        }
        .ResultCardsInfo {
          padding: 16px 8px;
          & h3 {
            font-family: var(--header-font);
            font-weight: 600;
            font-size: 20px;
            color: #4b4b4b;
            margin: 8px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          & .ResultCardDesc {
            color: #4b4b4b;

            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 1.58;

            margin: 8px 0;
            padding: 4px 8px;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          & a {
            font-size: 1.3rem;
            font-weight: 600;
            text-decoration: none;
            color: rgb(0, 128, 0);
            padding: 4px 8px;

            .arrow-right {
              margin-left: 8px;
            }
          }

          & a:link {
            text-decoration: none;
            color: rgb(0, 128, 0);
          }

          & a:visited {
            text-decoration: none;
          }

          & a:active {
            text-decoration: underline;
          }
          & a:hover {
            text-decoration: underline;
            color: #2ee778;
          }
        }
      }
    }
    .CategoryDisplay {
      display: none;
      margin-top: 8px;
      border: red solid;
    }
  }
}
