@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors

$primary: #81899b;
$accent: #302e24;
$warn: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;
$sub-font: " Roboto ", sans-serif;

:root {
  // !! COLORS
  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --headerfont-color: #{$headerfont-color};
  --contentfont-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
  --sub-font: #{meta.inspect($sub-font)};
}

.main-div-mayorsInfo {
  overflow-x: hidden;

  .div--MayorsInformation {
    background-color: #5d5d5e0d;
    margin: 40px 15px;

    .content_MI1 {
      position: relative;
      display: block;
      margin: auto;
      padding: 15px;

      .div-mayor-name {
        position: absolute;
        text-align: center;
        bottom: 25px;
        color: #fefefe;
        left: 7rem;

        padding: 12px;
        background-color: rgb(18, 102, 36);
        width: min(67%, 600px);
        z-index: 1;
        font-family: var(--header-font);
        border-radius: 3px;
      }

      .div-img-mayor {
        box-shadow: 2px -3px 16px -4px rgba(0, 0, 0, 0.75);
        position: relative;

        height: 90%;
        width: min(85%, 450px);
        padding: 1rem;
      }

      .img__Mayor {
        display: block;
        margin: 0 auto;
      }
    }

    .content_MI2 {
      padding: 15px 25px;
      .h1__MITitle {
        font-family: var(--header-font);
        font-weight: 700;
        text-shadow: 2px 2px 4px;
      }
      .p__MIDescription {
        font-family: var(--content-font);
        font-size: 18px;
      }

      .div_img_unhan_bayan {
        width: 500px;
        height: 300px;
        margin: auto;
      }
    }
  }

  .content_MI3 {
    padding: 25px;

    .div_img_unhan_bayan {
      .img__FlagshipProgram {
        width: 520px;
      }
    }

    .div-signature {
      margin: 45px 10px;
      text-align: center;
      color: #35271a;
      text-shadow: 3px 2px 4px;

      & h1 {
        font-weight: 600;
        font-family: var(--content-font);
      }
      & img {
        width: 300px;
        aspect-ratio: 1;
      }
    }
  }

  .content_MI4 {
    .div-flagship {
      & h1 {
        font-family: var(--content-font);
        font-weight: 400;
        font-size: 3rem;
        text-shadow: 3px 2px 6px;
      }
    }

    .div--MI4--span {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    .content_MI4_Fletter {
      font-family: var(--sub-font);
      background-color: green;
      width: 40px;

      aspect-ratio: 1/1;

      color: whitesmoke;
      font-weight: bold;
      font-size: 50px;
      margin: 0 10px;
    }
    .content_MI4_Word {
      font-family: var(--sub-font);
      color: #dfa612;
      font-weight: 400;
      font-size: 1.3rem;
      letter-spacing: 4.1px;
      line-height: 59px;
      word-spacing: 0;
      text-shadow: 2px 1px 4px;
    }
  }

  @media screen and (max-width: 480px) {
    .div--MayorsInformation {
      .content_MI1 {
        .div-mayor-name {
          position: absolute;
          text-align: center;
          bottom: 25px;
          color: #fefefe;
          left: 2rem;
          padding: 12px;
          background-color: rgb(18, 102, 36);
          width: min(79.5%, 500px);
          z-index: 1;
          font-family: var(--header-font);
          border-radius: 3px;
        }
      }
    }
  }
}
