@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors

$primary-main-nav: #05d194;
$primary-main-nav-drk: #04b882;
$accent-main-nav: #53f461;
$warn-main-nav: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;
$gradient-colors: #05d194, #53f461;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS
  --primary: #{$primary-main-nav};
  --primary-drk: #{$primary-main-nav-drk};
  --accent: #{$accent-main-nav};
  --warn: #{$warn-main-nav};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}

// ! <>

.HistoryTown-div-content {
  // border: red solid 2px;
  padding: 16px 40px;
  margin: 24px;
  box-shadow: 2px 2px 8px #383838;
  border-radius: 5px;

  & h1 {
    color: #2ee778;
    font-family: var(--header-font);
  }

  & h3 {
    font-family: var(--header-font);
  }

  & p {
    font-family: var(--content-font);
    letter-spacing: .03em;
  }
}
