.History-Barangay-Container {
  margin: 24px 36px;
}

// .ant-table-content {
//   border: 1px solid #ccc !important;
//   border-radius: 5px;
// }

.ant-tabs-content-holder {
  border: 1px solid #ccc !important;
  border-radius: 5px;
  padding: 16px 24px;
//   overflow-y: scroll;
}

.table-cell-bordered {
  border: 1px solid #ccc;
  padding: 8px;
}
