@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors


$headerfont-color: #383838;
$contentfont-color: #7a7a7a;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS

  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}


::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(66, 203, 119);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(159, 159, 159);
}

.card-downloadbale-body {
  //
  .Filter-Menu {

    background-color: #bebebe;

    .form-filter {
      display: flex;
      // flex-direction: column;
      align-items: center;
      justify-content: center;
      & .downloadables_searchbar {
        width: min(85%, 600px);
        margin: 4px 8px;
      }

      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        // border: solid 4px black;
      }
    }
  }

  .card-downloadbale-container {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    border-radius: 5px;
    box-shadow: 8px 10px 18px #888888;

    .header-card-download {
      width: 100%;
      z-index: 1;
      background-color: #bebebe;
      padding: 10px;
      top: 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }


    .loading-spinner {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .Empty-result-downloadables {
      display: flex;
      flex-direction: column;
      height: 80vh;
      align-items: center;
      justify-content: center;
      color: #ccc;

      .icon-nodata {
        font-size: 5rem;
      }
    }

    .result-downloadables {
      width: 95%;
    }

    .download-Cards {
      margin: 8px 28px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f3f2f2;

      .mimetype-icons-div {
        // icons
        .icon-downloadables {
          font-size: 2.6rem;
        }
      }

      .card_downloable_title_div {
        margin: 6px 16px 1px 16px;
        font-family: var(--header-font);
          color: var(--headerfont-color);

        .download-title {
          padding: 4px 12px;
          font-size: 1.2rem;
          font-weight: 700;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
         
        }
      }

      .ant-divider {
        width: clamp(1.5rem, 95%, 100%) !important;
        min-width: 0 !important;
        border: .01em solid #38383825;
      }

      .card_downloable_info {
        margin: 1px 16px 6px 16px;
        padding: 8px 12px;

        p {
          font-weight: 700;
          margin: 0;
        }
      }

      .card_downloadble_action {
        margin: auto;
        padding: 8px 26px;

        & button {
          display: flex;
          align-items: center;
          font-size: 0.9rem;
          font-weight: bold;
          width: 100%;
          border: none;
          color: whitesmoke;
          background-color: green;
          padding: 8px 16px;
          border-radius: 5px;
        }
      }
    }
    // }

    .footer-card-download {
      background-color: #f1f1f1;
      width: 100%;
      z-index: 1;
      padding: 10px 20px;
      bottom: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

@media only screen and (max-width: 521px) {
  .card_downloable_title {
    margin: 6px 16px 1px 16px;
    text-align: center;
    h5 {
      padding: 8px 12px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
