@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors

$primary-main-nav: #05d194;
$primary-main-nav-drk: #049a6d;
$accent-main-nav: #53f461;
$warn-main-nav: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;
$gradient-colors: #05d194, #53f461;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS
  --primary: #{$primary-main-nav};
  --primary-drk: #{$primary-main-nav-drk};
  --accent: #{$accent-main-nav};
  --warn: #{$warn-main-nav};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}

// ! <>

@mixin gradient-background($colors) {
  background: linear-gradient(to right, $colors);
}
.NavBar-Container {
  // opacity: 0;
  // position: -webkit-sticky;
  // position: sticky;
  // top: 0;
  // z-index: 9999;
  box-shadow: 1px 1px 6px #383838;
  transition: opacity 0.5s ease-in;
  .StickyBanner-Nav {
    // opacity: 0;
    display: none;
    // border: 5px red solid !important;
  }
}

// .HideBannerNav {
//   // display: none !important;
//   opacity: 0;
//   border: 5px blue solid;
// }
.NavBar-Container.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 1px 1px 6px #383838;
  opacity: 1;
  transition: opacity 1s;
}

.Main-Navbar {
  @include gradient-background($gradient-colors);
  padding: 0 !important;
  a {
    text-decoration: none !important;
  }
  .nav-body {
    display: flex;
    justify-content: flex-end;
    // border: solid 2px red;
  }

  .Main-Navbar-link.active {
    // background-color: #006d75;

    background-color: var(--primary-drk);
    color: #dfcb12;
  }

  .Main-Navbar-link {
    text-decoration: none !important;
    color: #383838;
    padding: 8px;
    font-weight: bold;
    // text-shadow: 0px 1px 2px  #474242;
  }
  .nav-link {
    font-family: var(--header-font);
    color: #383838 !important;
    // border: solid red 3px;
    font-weight: bold;
    // text-shadow: 0px 1px 2px  #474242;
  }
  // .Main__NavDropdown__Item {
  //   text-decoration: none !important;
  //   font-family: var(--header-font);
  //   // text-align: center;
  //   color: #383838;
  //   display: inline-block;
  //   font-size: 0.9rem;
  //   // width: 400px;
  //   padding: 8px !important;
  //   // margin: 4px !important;
  //   // word-wrap: normal;
  // }
  a {
    text-decoration: none !important;
    font-family: var(--header-font);
    color: #383838;
    display: inline-block;
    font-size: 0.9rem;
    padding: 8px !important;
    width: 100%;
  }

  a:hover {
    color: #dfcb12 !important;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li:hover {
      color: #dfcb12 !important;
      background-color: #006d75; /* Replace with your desired background color */
    }
  }
  //
  // .Main-Navbar-link.active,
  // .nav-drpdwn-head.active > a {
  //   display: flex;
  //   align-items: center;
  //   text-decoration: none;
  //   background-color: var(--primary-drk);
  //   color: gold !important;
  // }

  //   dropdown-items
  .dropdown-item {
    // padding: 0;
  }

  .main-sub-menu:hover {
    // .dropdown-item:hover,
    // .main-sub-menu:hover {
    //   a {
    //     color: #dfcb12 !important;
    //   }

    background-color: #006d75;
  }

  // .dropdown-item:active,
  // .main-sub-menu:active {
  //   background-color: aquamarine;
  // }

  //submenu
  // .main-sub-menu a {
  //   // padding: 4px 16px !important;
  //   color: #383838;
  // }

  // dropdown divider
  .dropdown-divider {
    margin: 0;
  }

  // hover for dropdowns and sub-menu
  // .nav-drpdwn-head:hover > .dropdown-menu,
  // .main-sub-menu:hover > .dropdown-menu {
  //   background-color: #049a6d;
  //   display: block;
  // }
  .nav-drpdwn-head:hover {
    background-color: #049a6d;
    display: block;
  }
}

// Off Canvas

// .main-navbar-offcanvas {
//   width: min(95vw, 24rem) !important;
//   border: solid hotpink;
// }

@media only screen and (max-width: 901px) {
  // @media only screen and (max-width: 481px) {

  a {
    text-decoration: none !important;
    font-family: var(--header-font);
    color: #383838;
    display: inline-block;
    font-size: 1rem;
    padding: 8px !important;
    width: 100%;
  }

  a:hover {
    color: #dfcb12 !important;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li:hover {
      color: #dfcb12 !important;
      background-color: #006d75; /* Replace with your desired background color */
    }
  }
  .main-sub-menu {
    // word-wrap: normal;
    padding: 0px 16px !important;
  }
  .main-navbar-offcanvas {
    // border: red solid 4px;
    overflow-y: scroll;
    width: min(95vw, 20rem) !important;
  }

  .navbar-nav-offcanvass {
    // border: solid hotpink;
    // overflow-y: scroll;
  }
}
// .nav-body .offcanvas-body {
//   overflow-y: auto;
// }
// .offcanvas-size-xl {
//   --bs-offcanvas-width: min(95vw, 600px) !important;
// }
// .offcanvas-size-xxl {
//   --bs-offcanvas-width: min(95vw, 90vw) !important;
// }
// .offcanvas-size-md { /* add Responsivenes to default offcanvas */
//   --bs-offcanvas-width: min(95vw, 400px) !important;
//   border: solid red;
// }
// .offcanvas-size-sm {
//   --bs-offcanvas-width: min(95vw, 250px) !important;
// }

// [Section] MEDIA QUERIES
