@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors

$primary: #81899b;
$accent: #302e24;
$bgdiv: #f6f9fb;
$warn: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS
  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --bgdiv: #{$bgdiv};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}

.ArticleCard-Container {
  // border: solid 5px blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 18px;
  // margin: auto;
  padding: 18px 32px;
  width: 100%;

  .Card-Article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 12rem;
    // max-width: 22%;
    // min-width: 22%;
    // padding: 10px 12px;
    // margin: auto;
    margin: 10px 5px;
    align-self: normal;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #302e24;
    // border: #ccc solid 1px;
    // border: #c62bcd 3px solid;

    .Img_ArticleCard {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width: 100% !important;
      padding: 0 !important;
      height: 220px !important;
      object-fit: cover;
    }

    .Category_Article {
      // border: 2px solid orange;
      padding: 8px 16px;
      margin: 8px 4px;
      .div_tag {
        margin: 8px 0;

        .tag {
          // background-color: #ccc;
          color: #fff;
          border-radius: 50px;
          font-size: 0.8rem;
          font-weight: bold;
          padding: 6px 12px;
        }

        .tag-teal {
          background-color: #73d13d;
        }

        .tag-purple {
          background-color: #4096ff;
        }

        .tag-pink {
          background-color: #f759ab;
        }
      }
    }
    // Contents
    .Contents-CardArticle {
      margin: 16px 0;
      padding: 4px 8px;
      & h2 {
        font-family: var(--header-font);
        font-size: 1.8rem;
        font-weight: bold;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        // margin: 0;
        // border: #3d1d94 solid 1px;
      }

      .Article_Description {
        font-family: var(--content-font);
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1rem;
        //   margin: 0 0 40px 0;
        // width: 95%;
        // text-align: left;
        font-weight: 500;
        color: rgb(70, 68, 68);
        // border: solid 1px red;
      }
    }
    .lnk-readmore {
      //padding: 12px 0;
      // margin-top: 12px 0;
      color: #c62bcd;
      font-size: 1.2rem;
      margin: 16px 8px !important;
      // border: solid 3px green;
      text-decoration: none;
    }

    .lnk-readmore:hover {
      //padding: 12px 0;
      // margin-top: 12px 0;
      color: #2bcd39;
      margin: 16px 8px !important;
      // border: solid 3px green;
      text-decoration: underline;
    }
  }

  .Card-Article:hover {
    cursor: pointer;
    transform: scale(1.05); /* Scale the card to 105% on hover */
    box-shadow: 1px 1px 4px #05d194 !important;
  }
}

// Media Query
@media only screen and (max-width: 970px) {
  .ArticleCard-Container {
    display: none;
  }
}
