@use "sass:meta";
// @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Playfair+Display&display=swap");

// [Section] Colors

$primary-main-nav: #05d194;
$primary-main-nav-drk: #04b882;
$accent-main-nav: #53f461;
$warn-main-nav: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;
$gradient-colors: #05d194, #53f461;

// [Section] Fonts

$banner-header-font: "Lora", serif;
$banner-content-font: "Playfair Display", serif;

:root {
  // !! COLORS
  --primary: #{$primary-main-nav};
  --primary-drk: #{$primary-main-nav-drk};
  --accent: #{$accent-main-nav};
  --warn: #{$warn-main-nav};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --banner-header-font: #{meta.inspect($banner-header-font)};
  --banner-content-font: #{meta.inspect($banner-content-font)};
}

// ! <>

.HideDateTimeBody {
  // display: none !important;
  display: none;
  border: 5px blue solid;
}
.dateTimeBody {
  /* background-image:linear-gradient(to right,  #05d194, #53f461); */
  background-image: url("https://res.cloudinary.com/dwfd6pzm5/image/upload/v1689759008/ftawp_ae3910ffce.webp");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  // border: 5px red solid;
  padding: 10px 25px 10px 25px;
  margin: 0;

  // border: 2px solid orange;
  .container-dateTimeBody {
    //[Section] 1st row
    /* BANNER CONTENTS */
    .banner-row {
      // display: flex;
      // align-content: center;
      // justify-content: center;
      margin: 8px 0;
      // border: 2px solid pink;
      // padding: 15px;

      .col-lgu-bulan-logo {
        /* border: 2px solid pink; */
        // border: 2px solid blue;
        // [Section] Inner ROW Start
        .banner_inner {
          .col1_inner {
            & img {
              // border: 2px solid yellow;
              width: clamp(7.5rem, 85%, 100%);
              aspect-ratio: 1;
            }
          }

          .col2_inner {
            & h1 {
              font-family: "Playfair Display", serif;
              margin: 8px 0;
              // font-weight: 800;
              font-weight: bolder;
              color: #dfa612;
              text-shadow: 3px 3px 3px #383838;
            }
            .underline-banner {
              background: white;
              width: min(85%, 350px);
              padding: 1px;
              margin: 5px 0;
            }

            & h4 {
              margin: 8px 0;
              font-family: "Playfair Display", serif;
              font-weight: 800;
              color: #ffffff;
              text-shadow: 2px 2px 2px #383838;
            }
          }
        }

        // [Section] Inner ROW end
      }

      //[Section] 2nd column

      .col-date-time {
        .container-date-time {
          // text-align: right;
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          /* border: 2px solid red; */

          .dateTime {
            /* padding: 5px 25px; */
            font-family: "Poppins", serif;
            // font-size: 1.6rem;
            font-size: clamp(1rem, 3vw, 1.6rem);
            text-shadow: 2px 2px 2px #383838;
            color: antiquewhite;
          }

          .p_OfficeHrs {
            font-family: "Poppins", serif;
            font-size: clamp(0.8rem, 3vw, 1.2rem);
            font-weight: 500;
            color: rgb(203, 227, 45);
            text-shadow: 2px 2px 2px #383838;
            margin: 0;
          }
        }
      }
    }
  }
}

// /* BANNER CONTENTS  END*/

/* MEDIA QUERIES */

@media only screen and (max-width: 481px) {
  // .dateTimeBody {
  //   // padding: 0 25px 0 25px;
  //   // margin: 0;
  //   // height: min(100vh, 180px);
  // }
  // .myRow {
  //   // flex-direction: column;
  //   // align-items: center;
  // }

  // LOGO

  .col_lgu_bulan_logo {
    padding: 0 0 0 5px !important;
  }
  .lgu_bulan_logo {
    width: min(100%, 7.3rem);
    aspect-ratio: 1;
  }

  // date time
  .col-date-time {
    margin-top: 16px;
    // border: aqua solid 2px;
    .container-date-time {
      border-top: 0.2em solid rgb(229, 229, 41);
      display: flex;
      padding: 16px 8px;
      align-items: center !important;

      .dateTime {
        color: antiquewhite;
      }

      .p_OfficeHrs {
        color: rgb(203, 227, 45);
        margin: 0;
      }
    }
  }
}

// @media only screen and (max-width: 481px) {
// .dateTimeBody {
//   /* background-image:linear-gradient(to right,  #05d194, #53f461); */
//   background-image: url("../../Img/gradient-vector-green.jpg");
//   background-repeat: no-repeat, repeat;
//   background-position: center;
//   background-size: cover;
//   padding: 10px 25px 10px 25px;
//   margin: 0;
//   height: min(100vh, 260px);

//   .container-dateTimeBody {
//     //[Section] 1st row
//     /* BANNER CONTENTS */
//     .banner-row {
//       .col-lgu-bulan-logo {
//         /* border: 2px solid pink; */

//         // [Section] Inner ROW Start
//         .wrapper-lgu-bulan {
//           //inner row logo and title
//           .banner_inner_row {
//             //

//             // 1st inner column logo and title column
//             .col_lgu_bulan_logo {
//               // display: flex;
//               // justify-content: center;
//               margin: auto;
//               // BULAN LOGO
//               .lgu_bulan_logo {
//                 aspect-ratio: 1 / 1;
//                 margin: 8px 0;
//                 padding: 8px 0;
//               }
//             }

//             // 2nd inner column title column
//             .col_lgu_bulan_name {
//               border: aqua 2px solid;
//               padding-left: 20px;

//               & h2 {
//                 // font-family: var(--banner-header-font) !important;
//                 font-family: "Playfair Display", serif;
//                 // font-weight: 800;
//                 font-weight: bolder;
//                 color: #dfa612;
//                 text-shadow: 2px 2px 2px #383838;
//               }
//               // UnderLine
//               .underline-banner {
//                 background: white;
//                 width: min(85%, 400px);
//                 padding: 1px;
//               }
//               & h4 {
//                 font-family: "Lora", serif;
//                 font-weight: 400;
//                 color: #fefefe;
//                 font-style: italic;
//                 text-shadow: 2px 2px 2px #383838;
//               }
//             }
//           }
//         }
//         // [Section] Inner ROW end
//       }

//       //[Section] 2nd column

//       .col-date-time {
//         /* display: flex;
//           justify-content: center;
//           align-items: center; */
//         /* border: 2px solid rgb(174, 0, 255); */
//         /* height:100vh; */

//         .container-date-time {
//           // display: flex;
//           // flex-direction: column;
//           // align-items: flex-end ;
//           /* justify-content: center;
//             align-items: center; */
//           /* border: 2px solid red; */

//           .dateTime {
//             /* padding: 5px 25px; */
//             color: antiquewhite;
//           }

//           .p_OfficeHrs {
//             color: rgb(203, 227, 45);
//             margin: 0;
//           }
//         }
//       }
//     }
//   }
// }
// }
