

#footerContainer{
    /* background-color: black; */
    /* border: 5px solid red */
    
}

#footerContainer>div>p{
    border-top: 1px solid greenyellow;
    margin: 0 !important;
    background: rgb(38, 34, 34);
    /* padding: 0; */
    color: whitesmoke;
    width: 100%;
}

/* p { 
    margin-top: 0;
    margin-bottom: 0;
} */


