

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: var(--header-font); */
}

body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.SuspenseSpinner{
  background-color: #ccccccd6;
  height: 34rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(66, 203, 119); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(159, 159, 159); 
}