@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors

$primary-main-nav: #05d194;
$primary-main-nav-drk: #049a6d;
$accent-main-nav: #53f461;
$warn-main-nav: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;
$gradient-colors: #05d194, #53f461;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS
  --primary: #{$primary-main-nav};
  --primary-drk: #{$primary-main-nav-drk};
  --accent: #{$accent-main-nav};
  --warn: #{$warn-main-nav};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}

// ! <>

.div_container_govService {

  background-color: rgb(246, 249, 251);
}



.gov__service__header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--header-font) !important;
  color: var(--font-color);
}

.gov__service__header__title h2 {
  font-family: var(--header-font) !important;

  text-shadow: 1px 1px #474242;
}

.gov__service__header__description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 10px;
  border-left: 1px gray solid;
  font-family: var(--font-family-content);
  color: var(--contentfon-color);
}

@media only screen and (min-width: 600px) {
  .gov__service__header__description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 10px;
    border-left: 1px gray solid;
    font-family: var(--font-family-content);
    color: var(--contentfon-color);
  }
}

.gov__service__header__description p {
  font-family: var(--header-font) !important;
}

#gov_service_header_button {

  font-family: var(--content-font);
  background: #ff0404e3;
  color: #fefefe;

}

#gov_service_header_button:hover {
  color: #ffe58f;
}

@media only screen and (max-width: 480px) {
  #gov__service__header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    border-radius: 5px;
  }

  #gov_service_header_button:hover {
    color: #ffe58f;
  }
}

#col1 > div {
  color: #383838;
  font-family: poppins;
  font-size: 35;
}
#col2 {
  color: #383838;
}

#col3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cardImage {
  padding: max(1vh, -4.5rem) 0.3rem;
  height: 90px;
  width: 90px;
  object-fit: cover;
}

.div--govServiceCards {

  margin: 40px 20px;
}
// cards
#Card--Gov--Service {

  height: 150px;
  width: min(85%, 420px);

  margin: auto;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}

#Card--Gov--Service:hover {

  cursor: pointer;
  transform: scale(1.05); 
  box-shadow: 2px 2px 2px #05d194 !important;
}

.gov-service-cardlink{

}


#gov--service--card--body {

  margin: 0 !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#colImage {

  display: flex;
  align-items: center;
  justify-content: center;
}

#cardImage {
  width: 90px;
  aspect-ratio: 1;
}

#horizontalCardRow {

  padding: 15px 0 15px 0;
}

.CardTitle-GovService {
  font-family: var(--content-font);
  font-size: clamp(1.5rem, 7vw + 1rem, 0.5rem);
  text-shadow: 0.01em 0.04em #474242;

}
